.bio {
  display: flex;
}

.bio__headshot {
  margin-right: 24px;

  img {
    border-radius: 4px;
    height: 150px;
    width: 150px;
  }
}

.bio__name {
  font-size: 24px;
}

.bio__description {
  text-align: justify;
}

.instructor-info {
  display: flex;
}

.title {
  padding: 12px;
  background: #786da6;
  color: white;
  border-radius: 6px;
}

.divider {
  border: 1px solid $accent-color;
  margin-bottom: 16px;
}
