.classes__summary {
  font-size: 20px;
  margin-bottom: 24px;
}

.classes__class-overview {
  border: 3px solid $accent-color;
  margin-bottom: 24px;
  padding: 18px;
  text-align: center;
}

.classes__class-title {
  font-size: 24px;
  font-weight: 700;
}

.classes_class-dates {
  margin-bottom: 18px;
}
