// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#home-page {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.home__description {
  margin-right: 12px;
}

#home-image {
  width: 50%;
  border-radius: 6px;
}
