.photos__thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 3px;
  margin: 0 4px 4px;
}
