<div id="body">
  <h1>Locally owned dance school, offering seasonal, community-driven dance classes for children ages ~2-6</h1>
  <h2 class="title">Our Story</h2>
  <p>
    JP Dance Co-op is a locally owned dance school, offering seasonal, 
    community-driven dance classes for children ages ~2-6 at Spontaneous Celebrations 
    in Jamaica Plain. The school was created in 2017 by Caitlin Fisher, who wanted to 
    share her passion for dance by creating a series of dance programs that introduced 
    young children to movement. Classes are meant to be structured yet fun, offering room 
    for movement exploration.  
  </p>

  <h2 class="title">Instructors</h2>
  <div class="bio">
    <div class="bio__headshot">
      <img src="caitlin-fisher-headshot.jpg"></img>
    </div>
    <div class="bio__information">
      <div class="bio__name">Caitlin Fisher</div>
      <div>Head Instructor/Owner</div>
      <p class="bio__description">
        Caitlin Fisher is the owner and head dance instructor of JP Dance Co-op. She founded 
        the school in 2017 to offer community-based dance classes to introduce and inspire 
        young children to dance. Caitlin started dancing at age three and spent her adolescent 
        years dancing and teaching at Paulette's Ballet Studio. Caitlin went on to study modern 
        dance, earning a degree in dance from Roger Williams University. During her time as an 
        undergraduate student, she choreographed for the University's dance club and was a 
        member of its Dance Theatre troupe. In the fall of 2012, Caitlin spent time in London 
        training under Jorge Cresis and Stephen Pelton as part of an exclusive performance-based 
        dance course. Certified from DETC as a dance trainer, Caitlin has taught at a number of 
        local schools, including choreographing for Creative Steps Dance Studio's annual 
        Nutcracker performance. She also spent five years as part of the DanceWorks Boston 
        company, dancing in bi-annual performances. In addition to running JP Dance Co-op, 
        Caitlin currently teaches beginner teen and adult dance classes at Total Eclipse Dance 
        Studio in Needham, MA. 
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="bio">
    <div class="bio__headshot">
      <img src="lauren-sava-headshot.jpg"></img>
    </div>
    <div class="bio__information">
      <div class="bio__name">Lauren Sava</div>
      <div>Assistant Instructor</div>
      <p class="bio__description">
        Lauren Sava has been dancing professionally with a modern company, Abilities Dance 
        Boston, since January 2017, including choreographing for two of the company's yearly 
        shows. Her background is in modern dance, performing and choreographing with the Ballet 
        Performance Group in Rochester, NY, Nu Movement Cooperative in Rochester, NY, and 
        Dance Theater Group in Boston, MA. While at Nu Movement Cooperative, she taught an 
        eight-week modern class, “Health Awareness through Dance” for adults and performed in 
        Biodance's Social Justice Series. Through the Ballet Performance Group, Lauren worked 
        with and led dance workshops for youth in the Rochester City School District. In 
        college, she designed, developed, and implemented a dance program for the Summer 
        Horizons Program for youth in kindergarten through eighth grade. Lauren has also 
        trained in and enjoys ballet, jazz, tap, hip hop, and improv. She has a Masters of 
        Public Health from Boston University and a Bachelor of Arts from the University of 
        Rochester.
      </p>
    </div>
  </div>
</div>