<h2 class="title">Classes+Events</h2>
<div class="classes__summary">
  JP Dance Co-op offers two dance courses as part of each seasonal program. 
  Each course consists of 6-8 classes, held every week for one hour on Sunday 
  mornings, in the Winter/Spring (Feb.-Mar.), Summer (May-Sept.) and Fall 
  (Oct.-Dec.).
</div>

          
<div class="classes__class-overview">
  <div>
    <img src="Free-Play.jpg" class="classes__photo" alt="Free play thumbnail"></img>
  </div>
  <div class="classes__class-info">
    <div class="classes__class-title">Parent & Child: Intro to Movement</div>
    <p>
      This dance course invites parents and children (ages ~2-4) to explore dance 
      and learn how to express themselves through movement. Class will include a 
      mixture of Ballet barre, Modern basics, improvisation and free play. 
    </p>
    <h3 class="classes__session"> Winter/Spring 2020 Session </h3>
    <div class="classes__date"><b>February 9 - March 29</b><br>
      Sundays, 10-11am
    </div>
    <div class="classes__cost">Cost: $75 full course / $15 drop in </div>
  </div>

</div>


<div class="classes__class-overview">
  <div class="classes__class-info">
    <div class="classes__class-title">Pre-Ballet & Modern: Dance Basics</div>
    <p>
      This dance course invites children (ages ~5-6) to learn the basics, and set a 
      solid foundation in technique and movement. Class will include a mixture of
      structured Ballet barre and Modern repertoire, as well as free form dancing 
      and improvisation. 
    </p>
    <h3 class="classes__session"> Winter/Spring 2020 Session </h3>
    <div class="classes__date"><b>February 9 - March 29</b><br>
      Sundays, 11am-12am
    </div>
    <div class="classes__cost">Cost: $75 full course</div>
  </div>
  <div class="classes__photo">
    <img src="preballet-class-2019.jpg" class="classes__photo"></img>
  </div>
</div>