<h2 class="title">
  Contact
</h2>

<div class="contact__info">
  <div>
    <p>
      To learn more, or to register for class(es), email Caitlin at 
      <a href="mailto:JPDanceCoop@gmail.com" class="contact__link">JPDanceCoop@gmail.com</a>.
    </p>
    <p>
      For the latest updates, visit our Facebook page: <a href="https://www.facebook.com/JPDanceCoop/" class="contact__link">@JPDanceCoop</a>
    </p>
    <p>
      <div class="contact__location-header">
        Mailing Address
      </div>
      JP Dance Co-op/Caitlin Fisher <br>
      7 Beecher St., Apt. 2 <br>
      Jamaica Plain, MA 02130
    </p>
    <p>
      <div class="contact__location-header">
        Studio Location
      </div>
      Spontaneous Celebrations <br>
      45 Danforth St.  <br>
      Jamaica Plain, MA 02130
    </p>
  </div>
  <div>
  <iframe width="450" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJUy2z13t544kR_x4OoUthyaY&key=AIzaSyCiAkBooM4RjmImA-F2xSz5fG8eaQywwfg" allowfullscreen>
  </iframe>
  </div>
</div>