
<div id="home-page">
  <div class="home__description">
    <h1>Welcome to JP Dance Co-op!</h1>
    <p>
      JP Dance Co-op is a locally owned dance school, offering seasonal, 
      community-driven dance classes for children ages ~2-6.
    </p>
    <p>
      Join us for our 2020 dance programs!
    </p>
    <p>
      We offer two courses each season: <b> “Intro to Movement” dance classes for 
      preschoolers </b> and <b> “PreBallet & Modern” dance classes for Kindergarteners. </b> 
      Seasonal registration is available (Winter/Spring; Summer and Fall); 
      though drop ins are always welcome!
    </p>
    <p>
      Our mission is to introduce children to dance where they can learn how to 
      express themselves through movement.
    </p>
  </div>
  <%= image_tag "banner.jpg", id: "home-image", alt: "JP Dance Co-op" %>
</div>

<h1>Class Photos</h1>
<div class="photos__thumbnails">
  <a href="ballet-walks-photo.jpg" data-lightbox="gallery" data-title="Ballet walks" data-alt="Ballet walks">
    <img src="ballet-walks-photo.jpg" class="thumbnail" alt="Ballet walks thumbnail"></img>
  </a>
  <a href="Center-Floor-Lineup.jpg" data-lightbox="gallery" data-title="Center floor lineup" data-alt="Center floor lineup">
    <img src="Center-Floor-Lineup.jpg" class="thumbnail" alt="Center floor lineup thumbnail"></img>
  </a>
  <a href="Center-Floor.jpg" data-lightbox="gallery" data-title="Center floor" data-alt="Center floor">
    <img src="Center-Floor.jpg" class="thumbnail" alt="Center floor thumbnail"></img>
  </a>
  <a href="circle-time.jpg" data-lightbox="gallery" data-title="Circle time" data-alt="Circle time">
    <img src="circle-time.jpg" class="thumbnail" alt="Circle time thumbnail"></img>
  </a>
  <a href="Dancer.jpg" data-lightbox="gallery" data-title="Dancer" data-alt="Dancer">
    <img src="Dancer.jpg" class="thumbnail" alt="Dancer thumbnail"></img>
  </a>
  <a href="ella-adelaide.jpg" data-lightbox="gallery" data-title="Happy dancers" data-alt="Happy dancers">
    <img src="ella-adelaide.jpg" class="thumbnail" alt="Happy dancers thumbnail"></img>
  </a>
  <a href="Free-Play.jpg" data-lightbox="gallery" data-title="Free play" data-alt="Free play">
    <img src="Free-Play.jpg" class="thumbnail" alt="Free play thumbnail"></img>
  </a>
  <a href="frozen-themed-class.jpg" data-lightbox="gallery" data-title="Frozen themed dance class" data-alt="Frozen themed dance class">
    <img src="frozen-themed-class.jpg" class="thumbnail" alt="Frozen themed dance class thumbnail"></img>
  </a>
  <a href="girls-in-line.jpg" data-lightbox="gallery" data-title="Waiting in line to dance" data-alt="Waiting in line to dance">
    <img src="girls-in-line.jpg" class="thumbnail" alt="Waiting in line to dance thumbnail"></img>
  </a>
  <a href="halloween-2019.jpg" data-lightbox="gallery" data-title="Halloween Class 2019" data-alt="Halloween Class 2019">
    <img src="halloween-2019.jpg" class="thumbnail" alt="Halloween Class 2019 thumbnail"></img>
  </a>
  <a href="Halloween.jpg" data-lightbox="gallery" data-title="Halloween Class" data-alt="Halloween Class">
    <img src="Halloween.jpg" class="thumbnail" alt="Halloween Class thumbnail"></img>
  </a>
  <a href="pc-2019-class.jpg" data-lightbox="gallery" data-title="NEED CAPTION HERE" data-alt="">
    <img src="pc-2019-class.jpg" class="thumbnail" alt="thumbnail"></img>
  </a>
  <a href="preballet-class-2019.jpg" data-lightbox="gallery" data-title="Pre-ballet class 2019" data-alt="Pre-ballet class 2019">
    <img src="preballet-class-2019.jpg" class="thumbnail" alt="Pre-ballet class 2019 thumbnail"></img>
  </a>
