
<div id="home-page">
  <div class="home__description">
    <h1>Welcome to JP Dance Co-op!</h1>
    <p>
      JP Dance Co-op is a locally owned dance school, offering seasonal, 
      community-driven dance classes for children ages ~2-6.
    </p>
    <p>
      Join us for our 2020 dance programs!
    </p>
    <p>
      We offer two courses each season: <b> “Intro to Movement” dance classes for 
      preschoolers </b> and <b> “PreBallet & Modern” dance classes for Kindergarteners. </b> 
      Seasonal registration is available (Winter/Spring; Summer and Fall); 
      though drop ins are always welcome!
    </p>
    <p>
      Our mission is to introduce children to dance where they can learn how to 
      express themselves through movement.
    </p>
  </div>
  <%= image_tag "banner.jpg", id: "home-image", alt: "JP Dance Co-op" %>
</div>

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">

      <div class="glide__slide">
        <img src="ballet-walks-photo.jpg" alt="Ballet walks thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="Center-Floor-Lineup.jpg" class="glide__slide" alt="Center floor lineup thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="Center-Floor.jpg" class="glide__slide" alt="Center floor thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="circle-time.jpg" class="glide__slide" alt="Circle time thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="Dancer.jpg" class="glide__slide" alt="Dancer thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="ella-adelaide.jpg" class="glide__slide" alt="Happy dancers thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="Free-Play.jpg" class="glide__slide" alt="Free play thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="frozen-themed-class.jpg" class="glide__slide" alt="Frozen themed dance class thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="girls-in-line.jpg" class="glide__slide" alt="Waiting in line to dance thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="halloween-2019.jpg" class="glide__slide" alt="Halloween Class 2019 thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="Halloween.jpg" class="glide__slide" alt="Halloween Class thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="pc-2019-class.jpg" class="glide__slide" alt="thumbnail"></img>
      </div>
      <div class="glide__slide">
        <img src="preballet-class-2019.jpg" class="glide__slide" alt="Pre-ballet class 2019 thumbnail"></img>
      </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
  </div>
</div>
