/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

#hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url("/assets/banner.jpg");
  height: 300px;
  position: relative;
}

#app-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 24px;
  width: 100%;
}

#social-media-links {
  align-self: flex-end;
  justify-self: flex-end;
}

#logo {
  height: 180px;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 1;
}

#navlinks {
  text-transform: uppercase;
  align-self: flex-end;
  flex: 1 1 auto;
}

.navlink {
  margin-right: 4px;
}

#facebook {
  height: 24px;
}

#email {
  height: 20px;
}
