@import "variables";
@import "pages/*";

body {
  background: rgb(251, 251, 251);
  margin: 0;
  font-family: "Roboto", serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

h1 {
  margin-top: 0;
  letter-spacing: 0.68px;
}

h2 {
  letter-spacing: 0.68px;
}

p {
  line-height: 21px;
}

#hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url("/banner.jpg");
  height: 300px;
  position: relative;
}

#app {
  background: white;
  min-width: 768px;
  max-width: 900px;
  margin: auto;
}

#app-bar {
  background: white;
  padding: 24px 0;
}

#social-media-links {
  position: absolute;
  right: 0;
  bottom: 0;
}

#logo {
  height: 150px;
}

#logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  position: relative;
}

#navlinks {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.68px;
  margin: auto;
  text-transform: uppercase;
  width: 50%;
}

.page-content {
  padding-right: 36px;
  padding-left: 36px;
}

.navlink.active {
  color: $accent-color;
}

#facebook {
  height: 24px;
}

#email {
  height: 20px;
}

.title {
  padding: 12px;
  background: #786da6;
  color: white;
}

.tagline {
  margin-top: 0;
}

#footer {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: $accent-color;
  opacity: 80%;
  padding: 24px;
  margin-top: 24px;
}
