@import "variables";
@import "pages/*";

body {
  margin: 0;
  font-family: "Asap", sans-serif;
  min-width: 768px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

#hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url("/banner.jpg");
  height: 300px;
  position: relative;
}

#app-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 24px 24px 12px;
  width: 100%;
}

#social-media-links {
  align-self: flex-end;
  justify-self: flex-end;
}

#logo {
  height: 120px;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 1;
}

#navlinks {
  text-transform: uppercase;
  align-self: flex-end;
  flex: 1 1 auto;
}

.navlink {
  margin-right: 12px;
}

.navlink.active {
  color: $accent-color;
}

#facebook {
  height: 24px;
}

#email {
  height: 20px;
}

.page-content {
  padding: 48px;
}

.page-title {
  border-bottom: 4px solid $accent-color;
  margin-top: 0;
}

.tagline {
  margin-top: 0;
}
